ion-content{
  --ion-background-color: #c8b6ff;
  color: #0a0908;
}
ion-item{
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
  --background: #b8c0ff;
  color: #0a0908;
}
ion-input{
  --background:#b8c3ff;
  --padding-start:33px;
  height: 55px;
  border-radius: 25px;
  margin-bottom: 22px;
}
.botonEnviar{
  width: 50vw;
  background-color: #e7c6ff;
  margin-top: 10vh;
  padding: 10vw;
  border-top-right-radius: 10vh;
  border-bottom-right-radius: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  span{
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
  }
}
ion-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 20vh;
  width: 20vh;
  margin-top: 5vh;
}
ion-button{
  margin: auto;
  display: block;
  width: 80%;

  --background: #e7c6ff;
  color: #0a0908;
}
.fotoLogin{
  margin: 1em;
  width: 5em;
  height: 5em;
}
.imagenes{
  margin-top: 50px;
  text-align: center;
}