.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.textoCurso{
    height: inherit;
    display: grid;
    justify-content: center;
    font-size: 30px;
}
.textoDivision{
    display: grid;
    justify-content: center;
    margin-top: 35vh;
    font-size: 30px;
}
ion-img{
    margin-top: 25vh;
    height: 30vh;
    margin-top: 2em;
}
ion-spinner{
    width: 100%;
    margin-top: 5vh;
    height: 15%;
}
ion-content {
    --background: #7209b7;
  }