<app-splash *ngIf="cargando" style="width: 100vw;height:100vh;"></app-splash>
<div *ngIf="!cargando">
  <ion-content [fullscreen]="true">
    <div class="header">
      <h3>Bienvenido</h3>
      <h1>Porfavor, Ingrese su correo electronico y contraseña para continuar</h1>
    </div>
    <form [formGroup]="loginForm" class="form">
    <ion-img src="assets/icon/alarma.png"></ion-img>
      <ion-item class="email">
        <ion-label position="stacked">Correo:</ion-label>
        <ion-input position="stacked" formControlName="email" placeholder="ingrese correo electronico"></ion-input>
      </ion-item>
      <ion-item class="input">
        <ion-label position="stacked">Contraseña:</ion-label>
        <ion-input position="stacked" formControlName="contrasena" placeholder="ingrese contraseña"></ion-input>
      </ion-item>
        <ion-button (click)="enviar()">
          ENVIAR
        </ion-button>
      <div class="imagenes">
        <img class="fotoLogin" src="https://firebasestorage.googleapis.com/v0/b/pps-primeraclase.appspot.com/o/usuario1.png?alt=media&token=cebdd214-f569-4f77-b9be-af03af9ea1b2"
        (click)="login(1)" >
       <img class="fotoLogin" src="https://firebasestorage.googleapis.com/v0/b/pps-primeraclase.appspot.com/o/usuario2.png?alt=media&token=0049801b-bbd8-40d2-9c0c-143646fc32f7"
        (click)="login(2)" >
       <img class="fotoLogin" src="https://firebasestorage.googleapis.com/v0/b/pps-primeraclase.appspot.com/o/usuario3.png?alt=media&token=c74d7b6b-0cb3-4597-b6d8-ea4a998fa84c"
        (click)="login(3)" >
    </div>
  </form>

  </ion-content>
</div>

