ion-content{
  --ion-background-color: #c8b6ff;
  color: #0a0908;
}
ion-item{
  margin: 40px 100px;
  --background: #b8c0ff;
  color: #0a0908;

}
ion-button{
  margin: 10px 100px 0px 0px;
  width: 76vh;
  float: right;
  --background: #e7c6ff;
  color: #0a0908;

}
.fotoLogin{
  margin: 1em;
  width: 5em;
  height: 5em;
}
.imagenes{
  margin-top: 50px;
  text-align: center;
}