ion-content{
  --ion-background-color: #c8b6ff;
  color: #0a0908;
}
ion-item{
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
  --background: #b8c0ff;
  color: #0a0908;
}
ion-button{
  margin: auto;
  display: block;
  width: 80%;
  --background: #e7c6ff;
  color: #0a0908;
}
.fotoLogin{
  margin: 1em;
  width: 5em;
  height: 5em;
}
.imagenes{
  margin-top: 50px;
  text-align: center;
}