.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
ion-img{
    height: 40vh;
    margin-top: 20vh;
}
ion-spinner{
    width: 100%;
    margin-top: 10vh;
    height: 20%;
}
ion-content {
    --background: #7209b7;
  }