
<app-splash-screen *ngIf="cargando" style="width: 100vw;height:100vh;"></app-splash-screen>
<div *ngIf="!cargando">
  <ion-header>
    <ion-toolbar>
      <ion-title style="text-align: center;">
        LOGIN
      </ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-content [fullscreen]="true">
      <ion-img src="assets/icon/alarma.png"></ion-img>
      <div class="imagenes">
        <img class="fotoLogin" src="assets\loginIconos\catIcon.png"
        (click)="login(1)" >
       <img class="fotoLogin" src="assets\loginIconos\dogIcon.png"
        (click)="login(2)" >
       <img class="fotoLogin" src="assets\loginIconos\pigIcon.png"
        (click)="login(3)" >
      </div>
      <form [formGroup]="loginForm">
        <ion-item class="email">
          <ion-label position="stacked">Correo:</ion-label>
          <ion-input position="stacked" formControlName="email" placeholder="ingrese su correo electronico"></ion-input>
        </ion-item>
        <ion-item class="input">
          <ion-label position="stacked">Contraseña:</ion-label>
          <ion-input position="stacked" formControlName="contrasena" placeholder="ingrese su contraseña"></ion-input>
        </ion-item>
        <ion-button class="botonEnviar" (click)="enviar()">
          ENVIAR
        </ion-button>
    </form>
    </ion-content>
</div>

