<!-- 
<ion-content>
  <div class="contenedor">
    <div style="background-color: white; border-radius: 4px; padding: 8px;">
      <h5 style="color:#252a2f;">4A</h5>
    </div>
    <div class="divLogo">
      <ion-img src="assets/chat.png" class="rotate-center" ></ion-img>
    </div>
    <div class="tracking-in-expand">
      <h4 style="color:#252a2f;" style="background-color: white; border-radius: 4px; padding: 8px;">Florencia Colodro</h4>
    </div>
  </div>
</ion-content> -->



<ion-content>
  <br>

  <div class="ion-text-center focus-in-contract-bck">
    <h1  style="padding: 8px; color:#252a2f;">4A</h1>
  </div>
  <br>

  <div class="rotate-in-diag-1 ion-text-center" >
    <img src="assets/chat.png" style="height: 100%; width: 70%; border-radius: 80px;">
  </div>
  <br><br><br><br>
  <div class="ion-text-center focus-in-contract-bck">
    <!-- <ion-label>4 A</ion-label> -->
    <h1  style="padding: 8px; color:#252a2f;">Ian Garcia</h1>
  </div>
</ion-content>


